<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keywords</key>
	<string></string>
	<key>txt</key>
	<string>H19/IGF2 This article 

	Role of long non-coding RNA in cells: Example of the H19/IGF2 locus

is poorly written (makes me uncomfortable) but presents basic ideas pretty clearly. These figures show how imprinting controls expression of H19/IGF2 in the maternal/paternal chromosomes:


￼

￼

H19 can act as a source of microRNAs (several examples given)

More interestingly, H19 regulates IGF2 ligand and receptor expression, 
H19 and IGF2 are in competition for enhancers; thus H19 expression affects IGF2 (exactly how??)

More clear to me, H19 also regulates IGF2 in trans - it is a negative regulator (need to understand mechanism). ALSO, H19 is source of miRNA mir-675-3p, which negatively regulates IGF receptor. 

Claim that after both, H19 repressed in all tissues except skeletal muscle - so must be pathological in eye?

H19 is precursor for two miRNAs, mir-675-3p and mir-675-5p. The latter represses retinoblastoma . 

Interaction between H19 and p53:

￼ H19  </string>
</dict>
</plist>
